<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timemachine.toci">

    <!-- New permissions for Toci (access camera) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_circle_pink"
        android:label="@string/app_name"
        android:theme="@style/AppThemeMain">
        <activity
            android:name=".HomeMaterialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MountainViewCATabbedActivity"
            android:label="Mountain View (CA)"
            android:parentActivityName=".HomeMaterialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMaterialActivity" />
        </activity>
        <activity
            android:name=".PaloAltoCATabbedActivity"
            android:label="Palo Alto (CA)"
            android:parentActivityName=".HomeMaterialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparentActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMaterialActivity" />
        </activity>
        <activity
            android:name=".GetCurrImageActivity"
            android:label="Display Current Image"
            android:parentActivityName=".HomeMaterialActivity"
            android:theme="@style/AppThemeSecondary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMaterialActivity" />
        </activity>
        <activity
            android:name=".LivePicsGalleryActivity"
            android:label="@string/livepics_gallery"
            android:parentActivityName=".HomeMaterialActivity"
            android:theme="@style/AppThemeTransparentActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMaterialActivity" />
        </activity>
        <activity
            android:name=".CaptureImageActivity"
            android:label="@string/title_activity_capture_image"
            android:parentActivityName=".LivePicsGalleryActivity"
            android:theme="@style/AppThemeSecondary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LivePicsGalleryActivity" />
        </activity>
        <activity
            android:name=".UploadActivity"
            android:label="@string/btnUploadToServer"
            android:parentActivityName=".CaptureImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaptureImageActivity" />
        </activity>
        <activity
            android:name=".Upload2DBActivity"
            android:label="Upload to Database"
            android:parentActivityName=".HomeMaterialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSecondary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMaterialActivity" />
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <!-- <activity -->
        <!-- android:name=".SearchActivity" -->
        <!-- android:parentActivityName=".ViewFlipperHomeActivity" -->
        <!-- android:screenOrientation="portrait" > -->
        <!-- </activity> -->
        <!--  -->
        <!-- <activity -->
        <!-- android:name=".ViewFlipperHomeActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!--  -->


        <!-- <activity -->
        <!-- android:name=".MountainViewCAActivity" -->
        <!-- android:label="@string/title_activity_mountain_view_ca" > -->
        <!-- </activity> -->


        <!-- GOOGLE MAPS API KEY -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- DEBUG KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDM62dEHR6cC3Dlr_4UO6szGNEem1QJcgc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="@string/google_maps_key" /> -->

        <activity
            android:name=".CityActivity"
            android:label="@string/title_activity_city"
            android:parentActivityName=".HomeMaterialActivity"
            android:theme="@style/AppThemeMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.timemachine.toci.HomeMaterialActivity" />
        </activity>
        <activity
            android:name=".City2Activity"
            android:label="@string/title_activity_city2"
            android:parentActivityName=".HomeMaterialActivity"
            android:theme="@style/AppThemeMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.timemachine.toci.HomeMaterialActivity" />
        </activity>
        <activity
            android:name=".AdActivity"
            android:label="@string/title_activity_ad"></activity>
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
